.offcanvas-fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  background-color: #388892;
}
.offcanvas,
.offcanvas-header,
.offcanvas-body {
  border: none !important;
  box-shadow: none !important;
}
.nav-link {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ffffff !important;
}
.offcanvas-fullscreen .nav-link {
  font-family: "Century Gothic", Sans-serif;
  margin-bottom: 1rem;
  padding-left: 2rem;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  width: auto;
  transition: color 0.3s ease, transform 0.3s ease;
}
.offcanvas-fullscreen .nav-link:hover {
  text-decoration: underline;
  transform: translateX(10px);
}
/*Desktop (Large Screens)*/
@media (min-width: 992px) {
  .offcanvas-fullscreen .nav-link {
    font-size: 3.5rem;
    padding-left: 6rem;
  }
}

/*Tablet (Half-Screen Size)*/
@media (min-width: 768px) and (max-width: 991px) {
  .offcanvas-fullscreen .nav-link {
    font-size: 2rem;
    padding-left: 3rem;
  }
}

/*Mobile (Small Screens)*/
@media (max-width: 767px) {
  /* Reduce top spacing in the offcanvas menu */
  .offcanvas-fullscreen .offcanvas-body {
    padding-top: 2rem;
    align-items: flex-start;
  }

  /* Adjust link style for mobile */
  .offcanvas-fullscreen .nav-link {
    font-size: 1.125rem;
    line-height: 1.7rem;
    padding-left: 0.5rem;
  }
}
/* Close Button Spacing & Style */
.offcanvas-fullscreen .btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #388892;
  border-radius: 50%;
  opacity: 1;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .offcanvas-fullscreen .btn-close {
    top: 4rem;
    right: 6rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .offcanvas-fullscreen .btn-close {
    top: 1.8rem;
    right: 1.8rem;
  }
}

@media (max-width: 767px) {
  .offcanvas-fullscreen .btn-close {
    top: 1rem;
    right: 1rem;
  }
}

/* Menu Button Overlay */
.menu-btn {
  position: absolute;
  top: 1rem;
  right: 3rem;
  z-index: 10;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .card-title {
    font-size: 1.4rem; /* smaller text on mobile */
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .card-title {
    font-size: 2rem;
    padding-top: 10rem;
  }
}
/* Offcanvas styling */

.offcanvas-fullscreen .btn-close {
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
